<div class="about-root">
    <h1 class="about-me">ABOUT ME</h1>
</div>
<div class="description">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure voluptate quae temporibus magnam aliquam sint
        accusantium eveniet. Illum numquam cumque modi assumenda neque amet minima, unde omnis hic iure adipisci.
        Ex impedit dolor laboriosam architecto consequatur rerum omnis explicabo iste consectetur reprehenderit, tempora
        inventore modi eligendi sit esse itaque laudantium at? Totam dolorum culpa rerum mollitia cum reprehenderit quae
        amet!
        Cumque a culpa quasi similique quae nisi iste repellendus sunt possimus reiciendis quod omnis nihil, commodi
        dolorum ut ab, quibusdam veritatis voluptate, quas placeat dolore sit consequatur! Mollitia, deleniti sed!
        Dolor est obcaecati ipsam vel harum error, neque aspernatur iure nemo odio velit ab quae ipsum sequi vero
        corrupti molestiae, alias, sit voluptatum. Corrupti vero numquam hic eos minima optio.
        Illo placeat aliquid delectus, ipsam fuga deleniti molestias maiores. Consectetur eos inventore ullam, cum non
        repellendus quam deleniti alias rerum, autem dicta, impedit consequatur praesentium distinctio. Animi, quidem.
        Non, pariatur.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dignissimos aut laborum, atque ad hic
        adipisci natus impedit eligendi assumenda, iusto optio porro, dolore praesentium dolorum repellat incidunt
        deserunt reprehenderit!
    </p>
</div>