/* GLOBAL STYLE */

.underline {
  text-decoration: underline;
}

ul li {
  color: var(--name-color);
}

.end {
  margin-bottom: 40px;
}

/* GLOBAL STYLE */

.about__title {
  color: var(--title-color);
  font-family: var(--title-font-family);
  text-align: center;
}

.about__name {
  color: var(--name-color);
  text-align: center;
  font-size: 30px;
}

.about__description {
  color: var(--description-color);
  text-align: justify;
}

.about__personnal-container {
  display: flex;
  justify-content: flex-start;
  background: url("~src/assets/images/information-card.png")
    no-repeat center right;
  background-size: contain;
}

.about__personnal-detail {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  color: var(--name-color);
  grid-auto-rows: 40px;
  padding-left: 40px;
}

.about__personnal-detail mat-icon {
  font-size: 18px;
  color: var(--icon-color);
}

.about__link {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 10px 0 6px 0;
}

.about__link li {
  list-style-type: none;
}

.about__link li a {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.about__link li a:hover {
  transform: scale(1.4);
  transition-duration: 300ms;
}

.about__code-source a {
  font-size: 20px;
  font-family: var(--title-font-family);
  color: var(--title-color);
}

.about__study {
  color: var(--name-color);
  text-align: center;
  margin-bottom: 40px;
}

.about__formation {
  color: var(--title-color);
  font-family: var(--title-font-family);
}

.about__formation-openclassrooms {
  background: url("~src/assets/images/kisspng-openclassrooms-marketing-business-management-logo-open-5b487ec131d465.6840017515314776972041.png")
    no-repeat right;
  background-size: contain;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  ul li {
    font-size: small;
  }
  .about__title {
    text-align: center;
  }
  .about__name {
    text-align: center;
    font-size: medium;
  }
  .about__description {
    font-size: small;
  }

  .about__study{
    font-size: medium;
  }

  .about__personnal-detail {
    width: 100%;
    font-size: small;
  }

  .about__personnal-container {
    background: none;
  }
  .about__formation-openclassrooms {
    background: none
  }
}
