<h2 class="about__name">
  RAKOTONIRINA Tolotra <span class="underline">David</span>
</h2>
<h1 class="about__title">Développeur Front-end</h1>

<p class="about__description">
  J'ai opté pour le <span class="underline">Front-end</span> parce que j'ai
  étudié les dessins techniques avant, du coup j'ai quelques avantages sur les
  mises en pages et les structures d'une page web. Mais je m'intéresse aussi au
  <span class="underline">Back-end</span>, d'ici quelques mois je pense être
  capable de faire du back-end avec un framwork php.
</p>

<h2 class="about__study text-center underline">Informations personnelles</h2>
<div class="about__personnal-container">
  <div class="about__personnal-detail">
    <p><mat-icon>person_pin_circle</mat-icon>Age</p>
    <p>23ans</p>
    <p><mat-icon>location_on</mat-icon>Adresse</p>
    <p>Antananarivo, Madagascar</p>
    <p><mat-icon>mail</mat-icon>Email</p>
    <p>tolotradavid2@gmail.com</p>
    <p><mat-icon>phone</mat-icon>Contact</p>
    <p class="underline">+261 34 66 482 84</p>
    <p><mat-icon>account_circle</mat-icon>Mes comptes</p>
    <ul class="about__link">
      <li>
        <a href="https://github.com/tolotra-david" target="_blank"
          ><img
            src="/assets/icons/4202098_github_code_developer_logo_icon.png"
            alt="github profile"
        /></a>
      </li>
      <li>
        <a href="https://gitlab.com/tolotradavid2" target="_blank"
          ><img src="/assets/icons/gitlab_logo_icon.png" alt="gitlab profile"
        /></a>
      </li>
      <li>
        <a href="https://www.hackerrank.com/Tolotra_David" target="_blank"
          ><img
            src="/assets/icons/4373234_hackerrank_logo_logos_icon.png"
            alt="hackerrank profile"
        /></a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/tolotra-david-9b75441b4/"
          target="_blank"
          ><img src="/assets/icons/1591856_linkedin_social_icon.png" alt=""
        /></a>
      </li>
    </ul>
  </div>
</div>
<h2 class="about__study underline">Études et diplômes</h2>
<h3 class="about__formation underline">Formations professionnelles :</h3>
<ul>
  <li>Bacc+3 en informatique (CNTEMAD MADAGASCAR)</li>
  <li>Bacc technique génie civil (LTPGC Mahamasina)</li>
</ul>
<h3 class="about__formation underline">Formations Openclassrooms :</h3>
<ul class="about__formation-openclassrooms">
  <li>Apprenez à créer votre site web avec HTML5 et CSS3</li>
  <li>Apprenez à programmer avec JavaScript</li>
  <li>Écrivez du JavaScript pour le web</li>
  <li>Développez des applications Web avec Angular</li>
  <li>Concevez votre site web avec PHP et MySQL</li>
  <li>Gérez du code avec Git et GitHub</li>
</ul>
<h3 class="about__formation underline">Autres formations :</h3>
<ul class="end">
  <li>Dynamique, apte à travailler en équipe</li>
  <li>Autodidacte, curieux</li>
</ul>
<h3 class="about__formation underline">Informations complémentaires :</h3>
<ul class="end">
  <li>Dynamique, apte à travailler en équipe</li>
  <li>Autodidacte, curieux</li>
</ul>
