:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: var(--secondary-variant-color); */
}

.chart-container {
  position: relative;
}


@media screen and (max-width: 768px) {
  :host {
    height: auto;
    padding-top: 36px;
  }
}