.skill h2 {
    text-decoration-line: underline;
    color: darkcyan;
}

.performance-width,
.performance__backgroung {
    height       : 5px;
    width        : 100%;
    position     : relative;
    border-radius: 2px;
}

.performance-width {
    width              : 0;
    transition: width ease-out;
    transition-delay: .1s;
    animation-name: colorTransition;
    animation-duration: 3s;
    background-color: darkcyan;
}

.performance__backgroung {
    border: 1px solid rgb(197, 197, 197);
}

.round {
    position     : absolute;
    width        : 20px;
    height       : 20px;
    border-radius: 50%;
    right        : 0;
    transform    : translate(50%, -35%);
    background-color: darkcyan;
}

.round__word {
    position: absolute;
    font-size: large;
    font-style: italic;
    top     : -80%;
}

/* ANIMATIONS */

@keyframes colorTransition {
    from{background-color: white;}
    to{background-color: darkcyan;}
}