<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 col-12 offset-0 offset-md-3">
      <div [@FromLeft]="'open'" class="card">
        <div class="card-body">
          <h1 class="card-title mb-5">About me</h1>
          <p>He there, I am RAKOTONIRINA Tolotra David, I am FRONTEND DEVELOPER.</p>
          <p>I have experience with WORDPRESS, ANGULAR, REACT and BOOTSTRAP. So If you are interested in working with
            me, join me on:</p>
          <ul class="icon-link-container mt-5">
            <li *ngFor="let socialNetwork of socialNetworks">
              <a href="{{socialNetwork.link}}" target="_blank"><img
                  src="../../../assets/icons/{{socialNetwork.iconName}}" alt="social network icon"></a>
            </li>
          </ul>
        </div>
        <div class="card-footer mb-5 text-center">
          <a href="../../../assets/Tolotra-CV.pdf" target="_blank" id="download-cv" class="btn btn-primary px-5">Download CV</a>
        </div>
      </div>
    </div>
  </div>
</div>