:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-title {
  color: var(--secondary-variant-color);
}

.icon-link-container {
  list-style: none;
  display: flex;
}

.icon-link-container li {
  margin-right: 32px;
}

img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: .3s ease-in-out;
}

img:hover {
  transform: scale(1.2);
}

.card-footer a {
  background-color: transparent;
}

#download-cv {
  animation: buttonScale 2.5s infinite;
  box-shadow: 0 0 1em .25em var(--secondary-variant-color),
    0 0 4em 1em var(--secondary-variant-color);
  text-shadow: 0 0 .5em var(--secondary-variant-color);
}

@keyframes buttonScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}