h1 {
  color: var(--title-color);
  font-family: var(--title-font-family);
}

.description {
  margin-top: 20px;
  color: var(--description-color);
}

.skills {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  row-gap: 20px;
  column-gap: 10%;
  margin-bottom: 10px;
}


/* RESPONSIVE */

@media only screen and (max-width: 768px){
  .skills {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
}