:host {
  height: 100%;
}

button {
  background-color: transparent;
  color: white;
}

/* ---------------------------- profil ---------------------------- */
.profile__img {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  overflow: hidden;
}

.img__container img {
  transform: scale(1.5);
}

.profile__name {
  text-align: center;
  overflow: hidden;
  color: var(--shades-color);
}

.profile__statut {
  color: white;
  text-align: center;
  color: var(--primary-color);
  font-size: 20px;
}

/* ---------------------------- end profil ---------------------------- */

/* ---------------------------- navigation ---------------------------- */
#navigation .navigation-wrapper {
  list-style: none;
  padding: 0;
}

#navigation .navigation-wrapper .navigation-item a {
  display: block;
  padding: 0.5rem 1.5rem;
  color: var(--shades-color);
}

#navigation .navigation-wrapper .navigation-item.active-link {
  background-color: var(--primary-color);
}

#navigation .navigation-wrapper .navigation-item.active-link a {
  color: var(--secondary-color);
}

/* ---------------------------- end navigation ---------------------------- */


/* RESPONSIVE */

@media only screen and (max-width: 768px) {

  /* IMAGE */
  .img__container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid lightcyan;
    overflow: hidden;
  }

  .img__container img {
    transform: scale(1.5);
  }

}