:host{
    display: block;
}

.root {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: calc(100% / 3);
    height: 100%;
    overflow: hidden;
    opacity: 1;
    transition: all ease-out 60ms;
    background-color: var(--sidebar-bg-color);
    box-shadow: 0 0 15px black;
}

.pages {
    width: 100%;
    height: 100%;
    overflow-Y: auto;
    padding: 20px;
    background-image: var(--bg-color);
}

.close{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rebeccapurple;
    box-shadow: 0px 0px 4px white;
    z-index: 1000 !important;
}

@media only screen and (max-width: 770px){
    .sidebar{
        width: 0;
        position: absolute;
        z-index: 1000 !important;
    }    
}