.root {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 30%;
    overflow: hidden;
    opacity: 1;
    transition: all ease-out .3s;
    background-color: #121212;
}

.pages {
    width: 100%;
    width: 100%;
    overflow-Y: auto;
    padding: 20px;
    background-color: lightcyan;
}

@media only screen and (max-width: 768px){
    .sidebar{
        width: 0;
        opacity: 0;
    }
}