:host{
    display: block;
}

.root {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 30%;
    overflow: hidden;
    opacity: 1;
    transition: all ease-out 60ms;
    background-color: #121212;
}

.pages {
    width: 100%;
    width: 100%;
    overflow-Y: auto;
    padding: 20px;
    background-color: lightcyan;
}

.close{
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: rgb(109, 0, 156);
}

@media only screen and (max-width: 770px){
    .sidebar{
        width: 0;
        position: absolute;
        height: 100%;
        z-index: 1000 !important;
    }    
}