:host {
    display: block;
}

.root {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}

.sidebar {
    top: 0;
    width: 20%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--secondary-color);
}

.sidebar-mobile {
    position: fixed;
    top: 0;
    width: 0;
    opacity: 0;
    height: 100vh;
    background-color: var(--secondary-color);
    transition: all ease-in-out .2s;
    z-index: 1000 !important;
}

.pages {
    width: 80%;
    overflow-y: auto;
}

.close {
    display: none;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 4px var(--secondary-color);
    z-index: 1000 !important;
}

@media only screen and (max-width: 1023px) {
    .sidebar {
        display: none;
    }

    .close {
        display: block;
    }

    .pages {
        width: 100%;
    }

}

@media only screen and (max-width: 1023px) and (orientation: landscape) {
    .sidebar {
        display: none;
    }

    .close {
        display: block;
    }

    .pages {
        width: 100%;
    }

}