/* IMAGE */
.profile__img {
  height: 30%;
  padding: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid lightcyan;
  overflow: hidden;
}

.img__container img {
  transform: scale(1.5);
}

/* INSIDE MENU */

.profile__name {
  text-align: center;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.9);
}

.navigation {
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
  margin: auto;
  z-index: 10;
}

.navigation li {
  list-style-type: none;
  font-size: 18px;
  text-align: start;
  display: block;
  padding: 5px 0;
  margin-bottom: 2px;
}

.navigation li h2 {
  color: white;
  text-align: center;
  color: rgb(125, 54, 224);
}

.navigation li a {
  display: block;
  padding-left: 10px;
  font-size: smaller;
  color: rgba(255, 255, 255, 0.7);
}

.background-active {
  width: 100%;
  background-color: rgb(125, 54, 224);
  border-radius: 8px;
  /* box-shadow: 0px 0px 5px white; */
  position: absolute;
  transition-delay: .1s;
  transition-duration: 0.3s;
  margin: auto;
  z-index: -1;
}
