:host {
  height: 100%;
}

/* IMAGE */
.profile__img {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--link-color);
  overflow: hidden;
}

.img__container img {
  transform: scale(1.5);
}

/* INSIDE MENU */

.profile__name {
  text-align: center;
  overflow: hidden;
  color: var(--name-color);
}

.profile__statut {
  color: white;
  text-align: center;
  color: var(--title-color);
  font-family: var(--title-font-family) !important;
}

.navigation {
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
  margin: auto;
  z-index: 10;
}

.navigation li {
  list-style-type: none;
  font-size: 18px;
  text-align: start;
  padding: 5px 0;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
}

.navigation li a {
  display: block;
  font-size: smaller;
  color: var(--link-color);
}

.material__icon {
  font-size: smaller;
  color: rebeccapurple;
}

li.active :first-child {
  color: var(--link-color);
}

.background-active {
  width: 100%;
  background-image: var(--bg-color);
  border-radius: 8px;
  position: absolute;
  transition-duration: 0.2s;
  margin: auto;
  z-index: -1;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  /* IMAGE */
  .img__container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid lightcyan;
    overflow: hidden;
  }

  .img__container img {
    transform: scale(1.5);
  }

  
}
