:host {
  height: 100%;
}

/* IMAGE */
.profile__img {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--primary-color);
  overflow: hidden;
}

.img__container img {
  transform: scale(1.5);
}

/* INSIDE MENU */

.profile__name {
  text-align: center;
  overflow: hidden;
  color: var(--shades-color);
}

.profile__statut {
  color: white;
  text-align: center;
  color: var(--primary-color);
  font-size: 20px;
}

.navigation {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  margin: auto;
  z-index: 10;
}

.navigation li {
  list-style-type: none;
  font-size: 18px;
  text-align: start;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 15px 100%;
  column-gap: 20px;
}

.navigation li a {
  display: block;
  font-size: smaller;
  color: var(--shades-color);
}
.material__icon {
  font-size: smaller;
  color: var(--primary-color);
}

li.active a, li.active i{
  color: var(--secondary-color) !important;
}

.navigation__separation{
  width: 70%;
}

.navigation__code-source{
  border-radius: 8px;
}

.navigation__code-source:hover{
  border: 1px solid var(--primary-color);
}

.background-active {
  width: 100%;
  background-color: var(--primary-variant-color);
  position: absolute;
  transition-duration: 0.2s;
  margin: auto;
  z-index: -1;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  /* IMAGE */
  .img__container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 4px solid lightcyan;
    overflow: hidden;
  }

  .img__container img {
    transform: scale(1.5);
  }

  
}
