<div class="profile__img">
  <div class="img__container">
    <img src="./assets/images/DSC_0733.jpg" alt="tolotra david" />
  </div>
</div>
<h3 class="profile__name">{{ firstName | titlecase }}</h3>
<h2 class="profile__statut">{{ statut | titlecase }}</h2>
<nav id="navigation">
  <ul class="navigation-wrapper">
    <li class="navigation-item" *ngFor="let navigation of navigations" routerLinkActive="active-link" (click)="handleSelectedLink()">
      <a routerLink="/{{ navigation.name }}"><fa-icon [icon]="navigation.icon"></fa-icon>&nbsp;{{ navigation.name | titlecase }}</a>
    </li>
  </ul>
</nav>