<div class="profile__img">
  <div class="img__container">
    <img src="./assets/images/DSC_0733.jpg" alt="tolotra david" />
  </div>
</div>
<h3 class="profile__name">{{ firstName | titlecase }}<br/>(23 ans)</h3>
<h3 class="profile__statut">{{'Développeur frontend' | uppercase }} <br><span class="angular">(Angular)</span></h3>
<ul class="navigation" #navigationMenu>
  <div class="background-active" #backgroundActive></div>
  <li *ngFor="let navigation of navigations" routerLinkActive="active" #link (click)="givePosition(link); giveOutput()">
    <mat-icon class="material__icon">{{ navigation.icon }}</mat-icon>
    <a routerLink="/{{ navigation.name }}">
      {{ navigation.name | titlecase }}
    </a>
  </li>
</ul>