:host {
  height: 100%;
}

/* IMAGE */

.profile__img {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img__container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid var(--sidebar-important-color);
  overflow: hidden;
}

.img__container img {
  transform: scale(1.5);
}

/* PROFILE DESCRIPTION */

.profile__name {
  text-align: center;
  overflow: hidden;
  color: var(--sidebar-sidebar-information-color);
  margin-top: 0;
}

.profile__statut {
  color: white;
  text-align: center;
  color: var(--sidebar-important-color);
  font-family: var(--title-font-family);
}

.profile__statut .angular {
  color: var(--sidebar-sidebar-information-color);
}

.navigation {
  margin: 0;
  padding: 0;
  position: relative;
  width: 80%;
  margin: auto;
  z-index: 10;
}

.navigation li {
  list-style-type: none;
  font-size: 18px;
  text-align: start;
  padding: 5px 0;
  margin-bottom: 2px;
  display: flex;
  justify-content: flex-start;
}

.navigation li a {
  display: block;
  width: 100%;
  font-size: smaller;
  font-family: var(--text-font-family);
  color: var(--sidebar-sidebar-description-color);
  padding: 0;
}

.material__icon {
  color: var(--sidebar-icon-color);
  margin: 0 5px 0 5px;
  font-size: large;
}

.navigation li.active a {
  color: var(--sidebar-icon-active-color);
}

li.active :first-child {
  color: var(--sidebar-icon-active-color);
}

.navigation__separation {
  width: 70%;
}

.background-active {
  width: 100%;
  border: 2px solid var(--sidebar-important-color);
  box-shadow: 0 0 3px var(--sidebar-icon-active-color);
  border-radius: 8px;
  position: absolute;
  transition-duration: 0.2s;
  margin: auto;
  z-index: -1;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  /* IMAGE */
  .profile__img {
    height: 25%;
  }

  .img__container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
  }

  .img__container img {
    transform: scale(1.5);
  }

  /* PROFILE DESCRIPTION */
  .profile__name, .profile__statut {
    font-size: medium;
  }
}