/* site for the next color */
/* https://coolors.co/fdc921-fdd85d-fffdf7-99d6ea-12212b */

body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Calibri;
    --primary-color: #FDC921;
    --primary-variant-color: #FDD85D;
    --shades-color: #fff;
    --secondary-color: #12212B;
    --secondary-variant-color: #99D6EA;
}


/* NEED for ajusting the images display */
img {
    display           : block;
    height            : 100%;
    width             : 100%;
    object-fit        : cover;
    object-position   : center;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
  }
