/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html,
body {
    height: 100%;
    --bg-color: linear-gradient(90deg, darkmagenta, rebeccapurple);
    --title-color: yellow;
    --link-color: white;
    --name-color: whitesmoke;
    --description-color: rgba(255, 255, 255, 0.7);
    --blur-color: white;
    --sidebar-bg-color: #121212;
    --title-font-family: 'Dancing Script', cursive;
    --text-font-famil: "Roboto", "Helvetica Neue", sans-serif;;
}

body {
    margin: 0;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    box-sizing: border-box;
    padding: 0;
}


/* NEED for ajusting the images display */
img {
    display           : block;
    height            : 100%;
    width             : 100%;
    object-fit        : cover;
    object-position   : center;
}

a {
    color: black;
    text-decoration: none;
}
