<div class="home__img">
    <div class="home__img__container">
        <img src="../../assets/images/font.jpg" alt="tolotra david">
    </div>
</div>
<div class="home__name">
    <h1>{{firstName | uppercase}}&nbsp;{{lastName | titlecase}}</h1>
</div>
<div class="home__description">
    <div class="description">
        <p>"J’aime énormément mon métier et prends un plaisir à exercer."</p>
    </div>
    <div class="button__more">
        <button><a [routerLink]="['/skills']" >Voir mes compétences &rarr;</a></button>
    </div> 
</div>

