.home__img {
    height         : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
}

.home__img__container {
    display      : inline-block;
    width        : 250px;
    height       : 250px;
    overflow     : hidden;
    border-radius: 50%;
}

.home__img__container img {
    /* transform      : scale(1.4); */
}

.home__name h1 {
    font-size  : x-large;
    text-align : center;
    font-weight: bolder;
}

.home__description {
    margin-top: 20px;
}

.home__description .description p {
    width     : 60%;
    margin    : auto;
    text-align: justify;
    font-size : larger;
}

.home__description .button__more {
    display      : flex;
    justify-items: center;
}

.home__description .button__more {
    width     : 30%;
    margin    : auto;
    height    : 36px;
    margin-top: 20px;
}

.home__description .button__more button {
    width    : 100%;
    height   : 100%;
    display  : inline-block;
    font-size: medium;
}

/* RESPONSIVE */
/* TABLET */
@media only screen and (max-width: 992px) {
    .home__img {
        height         : 35%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        overflow       : hidden;
    }

    .home__img__container {
        display      : inline-block;
        width        : 170px;
        height       : 170px;
        overflow     : hidden;
        border-radius: 50%;
    }
}

/* PHONE */
@media only screen and (max-width: 768px) {
    .home__img {
        height         : 45%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        overflow       : hidden;
    }

    .home__img__container {
        display      : inline-block;
        width        : 125px;
        height       : 125px;
        overflow     : hidden;
        border-radius: 50%;
    }

    .home__name h1 {
        font-size: medium;
    }

    .home__description .description p {
        width     : 80%;
        margin    : auto;
        text-align: justify;
        font-size : smaller;
    }

    .home__description .button__more {
        width     : 80%;
        margin    : auto;
        margin-top: 20px;
    }

    .home__description .button__more button {
        font-size: smaller;
    }
}