.home__root {
  width: 100%;
  height: 100%;
  background: url("/assets/images/home-background-image.png") no-repeat right;
  background-size: 50%;
  display: flex;
  align-items: center;
}

.home__description__container {
  width: 50%;
  position: relative;
}

.description__slogan {
  color: var(--main-title-color);
  text-align: justify;
}

.description__name {
  color: var(--main-name-color);
}

.description__slogan,
.description__name {
  font-style: italic;
  margin-bottom: 60px;
}

.description__button {
  width: 50%;
  margin: auto;
}

.description__button button {
  display: inline-block;
  width: 100%;
  background-image: var(--main-bg-color);
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 4px var(--main-blur-color);
}

.description__button button a {
  color: var(--main-link-color);
}

/* PHONE */
@media only screen and (max-width: 768px) {
  .home__root {
    background-size: 40%;
  }

  .home__description__container {
    width: 60%;
  }

  .description__slogan {
    text-align: left;
    font-size: medium;
  }

  .description__name {
    font-size: small;
  }

  .description__slogan,
  .description__name {
    font-style: italic;
  }

  .description__button {
    width: 100%;
    margin: auto;
    position: absolute;
    right: -40%;
  }

  .description__button button {
    display: inline-block;
    width: 100%;
    background-image: var(--main-bg-color);
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 4px var(--main-blur-color);
  }

  .description__button button a {
    color: var(--main-link-color);
  }
}
