.home__root {
  width: 100%;
  height: 100%;
  background: url("/assets/images/home-background-image.png") no-repeat right;
  background-size: 50%;
  display: flex;
  align-items: center;
}

.home__description__container {
  width: 50%;
}

.description__slogan {
  color: var(--title-color);
  text-align: justify;
  font-family: var(--title-font-family);
  font-size: 50px;
}

.description__name {
  color: var(--name-color);
}

.description__slogan,
.description__name {
  font-style: italic;
}

.description__button {
  width: 50%;
  margin: auto;
}

.description__button button {
  display: inline-block;
  width: 100%;
  background-image: var(--bg-color);
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 4px var(--blur-color);
}

.description__button button a {
  color: var(--link-color);
}

/* PHONE */
@media only screen and (max-width: 768px) {
  .home__root {
    background-position: center center;
    background-size: 100%;
    justify-content: center;
    align-items: start;
  }

  .home__description__container {
    width: 80%;
    height: 80%;
    position: relative;
  }

  .description__slogan {
    text-align: left;
    font-size: 30px;
  }

  .description__name {
    font-size: medium;
  }

  .description__button {
    width: 100%;
    margin: auto;
    position: absolute;
    bottom: 0;
  }

  .description__button button {
    display: inline-block;
    width: 100%;
    background-image: var(--bg-color);
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 4px var(--blur-color);
  }

  .description__button button a {
    color: var(--link-color);
  }
}
