.home__img {
    height         : 50%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    overflow       : hidden;
}

.home__img__container {
    display      : inline-block;
    width        : 80%;
    height       : 100%;
}

.home__name h1 {
    margin-top: 20px;
    font-size  : x-large;
    text-align : center;
    font-weight: bolder;
    color: darkslategray;
}

.home__description {
    margin-top: 20px;
}

.home__description .description p {
    width     : 60%;
    margin    : auto;
    text-align: center;
    color: orangered;
    font-style: italic;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home__description .button__more {
    display      : flex;
    justify-items: center;
}

.home__description .button__more {
    width     : 30%;
    margin    : auto;
    height    : 36px;
    margin-top: 20px;
}

.home__description .button__more button {
    width    : 100%;
    height   : 100%;
    display  : inline-block;
    background-color: rgb(109, 0, 156);
    border: none;
}

.home__description .button__more button a{
    color: rgba(255, 255, 255, 0.9);
}

/* RESPONSIVE */
/* TABLET */
@media only screen and (max-width: 992px) {
    .home__img {
        height         : 35%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        overflow       : hidden;
    }

    .home__img__container {
        display      : inline-block;
        width        : 170px;
        height       : 170px;
        overflow     : hidden;
        border-radius: 50%;
    }
}

/* PHONE */
@media only screen and (max-width: 768px) {
    .home__img {
        height         : 45%;
        display        : flex;
        align-items    : center;
        justify-content: center;
        overflow       : hidden;
    }

    .home__img__container {
        display      : inline-block;
        width        : 125px;
        height       : 125px;
        overflow     : hidden;
        border-radius: 50%;
    }

    .home__name h1 {
        font-size: medium;
    }

    .home__description .description p {
        width     : 80%;
        margin    : auto;
        text-align: justify;
        font-size : smaller;
    }

    .home__description .button__more {
        width     : 80%;
        margin    : auto;
        margin-top: 20px;
    }

    .home__description .button__more button {
        font-size: smaller;
    }
}