:host {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.home-description-container {
  width: 100%;
  padding: 0 0 0 40px;
  z-index: 1;
}

.home-description-container .description-slogan {
  color: var(--title-color);
  font-size: 50px;
}

.home-description-container .description-slogan .name {
  color: var(--primary-color);
}

.home-description-container a {
  background-color: var(--secondary-variant-color);
  display: inline-block;
  padding: 20px;
  color: var(--secondary-color);
  opacity: 0.8;
}



